body
{
    background-color: #333;
    background-image: url("./img/FundoPretoEAzul.jpg");
    background-blend-mode: color-dodge;
}

.corpo
{
    height: 500px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div .texto
{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

div .botao-copiar
{
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
    padding: 2%;
}

button .botao-copiar
{
    width: 30%;
}

.img-copy
{
    width: 100%;
}

.area-input
{
    display: flex;
    flex-direction: row;
}

.espaco
{
    width: 10px;
}

/*Tamanho classes para despositivos grandes*/
@media screen and (min-width: 601px)
{
    .obj-nicks
    {
        width: 200px;
        height: 70px;
        background-color: #555;
        border-color: white;
        border-style: solid;
        border-radius: 5px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        text-align: center;
        font-size: 18px;
    }

    .area-nicks
    {
        width: 1000px;
        height: 400px;
        margin-top: 50px;
        background-color: #000;
        border-color: #55aaff;
        border-width: 5px;
        border-style: solid;
        opacity: 1;
        color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }
}

/*Tamanho classes para despositivos pequenos*/
@media screen and (max-width: 600px)
{
    .obj-nicks
    {
        width: 100px;
        height: 50px;
        background-color: #555;
        border-color: white;
        border-style: solid;
        border-radius: 5px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        text-align: center;
        font-size: 10px;
    }

    .area-nicks
    {
        width: 300px;
        height: 350px;
        margin-top: 10px;
        background-color: #000;
        border-color: #55aaff;
        border-width: 5px;
        border-style: solid;
        opacity: 1;
        color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }
}